/* product-card.css */
.description {
  font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
  max-height: 5em; /* Adjust this value as needed for 5 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.5em; /* Adjust line height as needed */
}
