@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@300;400;500;600;700;800&family=Markazi+Text:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=REM:wght@300;400;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@300;400;500;600;700;800&family=Markazi+Text:wght@400;500;600;700&family=Palanquin:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=REM:wght@300;400;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

body {
  
  height: 100%;
  background-color: white;
  
}


